<!-- DO NOT BUILD HERE. Copy the below component into test.html -->

<!-- Tabs Component -->
<div class="c-tabView">
    <nav class="c-tabView__tabs t-black">
        <ul role="tablist">
            <li>Tab 1</li>
            <li>Tab 2</li>
        </ul>
    </nav>
    <div class="c-tabView__content">
        <div class="c-tabView__content__block u-inner">
			Tab 1 Content	
        </div>
        <div class="c-tabView__content__block u-inner">
            Tab 2 Content
        </div>
    </div>
</div>

<script src="js/base/tabs.component.js"></script>